<!DOCTYPE html>
<html>
  <head>
    <title>History</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @history_array && @history_array.any? %>
      <h1>History: </h1>
      <ul>
        <% @history_array.each do |history| %>
          <li><%= link_to history, history %></li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
